/* ============================================ */
/* Popup for aad_mobile Theme                   */
/* ============================================ */

.sapzenpopup{
	background: #d6dde8; /* Old browsers */
	background: -moz-linear-gradient(top, #d6dde8 30%, #c1cedf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#d6dde8), color-stop(100%,#c1cedf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d6dde8 30%,#c1cedf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d6dde8 30%,#c1cedf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d6dde8 30%,#c1cedf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d6dde8 30%,#c1cedf 100%); /* W3C */
	
	border: 1px solid #647b94;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.sapUiShd.sapzenpopup{
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);	
}