
/* Message View Component*/

.sapzenmessageview-PopupContainer {
       background: #bcc5d9;
       
       border: 1px solid #92a1c1;
       
       -webkit-box-shadow: 2px 2px 4px 0px #0b0b0b;
       box-shadow: 2px 2px 4px 0px #0b0b0b;
       
       /*padding: 0 5px 5px 5px;*/
       
       width: 280px !important;
       height: 420px !important;
}

.sapzenmessageview-PopupContainer .sapUiBorderLayoutTop{
		height: 40px !important;
}

.sapzenmessageview-PopupContainer .sapUiBorderLayoutCenter{
		top: 10px !important;
}

.sapzenmessageview-PopupContainerHeader {
    width: 280px !important;
    height: 39px !important;
    background: #E5EAF3; /* Old browsers */
		border-bottom: 1px solid #96A8C3;
}

.sapzenmessageview-PopupContainerHeader .sapUiTvH1{
	color: #4F5C72;
	margin-top: 3px;
	font-size: 12px !important;
}

.sapzenmessageview-PopupContainerHeader > div > div {
       padding: 5px;
}

.sapzenmessageview-PopupContainerHeader > .sapUiBorderLayoutBegin {
		width: 5px !important;
}
.sapzenmessageview-PopupContainerHeader > .sapUiBorderLayoutCenter {
		left: 5px !important;
		right: 120px !important;
		padding-left: 12px;
}
.sapzenmessageview-PopupContainerHeader > .sapUiBorderLayoutEnd {
		width: 125px !important;
		padding-top: 9px;
		padding-right: 5px;
		overflow:none !important;
}

.sapzenmessageview-HeadLine {
       margin-top: 15px;
}

.sapzenmessageview-ExpandImage, .sapzenmessageview-RemoveImage {
       width:100%;
       height:100%;
}

.sapzenmessageview-LevelImage {
       
}


.sapzenmessageview-HeaderText {
       width: 170px;
       overflow: hidden;
	  text-overflow: ellipsis;
	  -o-text-overflow: ellipsis;
	  -webkit-text-overflow: ellipsis;     
}

.sapzenmessageview-RowRepeaterRow {  
    border-bottom: 1px solid #96a8c3;
    border-top: 1px solid #ffffff;
    margin-bottom: 0px;
    
    height: 30px !important;
    width: 280px !important;
}

.sapzenmessageview-RowRepeaterRow .sapUiBorderLayoutCenter{	
	top: 0px !important;
	overflow: hidden !important;
}

.sapzenmessageview-RowRepeaterRow .sapUiTvH2{
	line-height: 30px; /* = height von .sapzenmessageview-RowRepeaterRow*/
	font-weight: normal;
	font-size: 12px !important;
}

.sapzenmessageview-RowRepeaterRow.sapzenmessageview-RowRepeaterRowActive {
	height: 103px !important; /*Gesamth�he = height von .sapzenmessageview-RowRepeaterRow + height von .sapUiBorderLayoutBottom*/
}

.sapzenmessageview-RowRepeaterRowActive > .sapUiBorderLayoutBottom {
	height: 73px !important;
	border-top: 1px solid #96A8C3;
	overflow: hidden !important;																																											/*	 width: 50px; funtioniert nicht!!!! */
}

.sapzenmessageview-RowRepeaterRowActive {
      
}

.sapzenmessageview-RowRepeaterRow > .sapUiBorderLayoutBegin{
	background: #e6eaf2;		
	width: 18px !important;		
	overflow: hidden !important;																																											/*	 width: 50px; funtioniert nicht!!!! */
}

.sapzenmessageview-RowRepeaterRow > .sapUiBorderLayoutCenter {
	background: #e6eaf2;
	left: 18px !important;
	right: 65px !important;
	overflow: hidden !important;																																											/*	 width: 50px; funtioniert nicht!!!! */
}

.sapzenmessageview-RowRepeaterRow > .sapUiBorderLayoutEnd {
	background: #e6eaf2;
	width: 65px !important;
	overflow: hidden !important;
}

.sapzenmessageview-RowRepeaterRow > .sapUiBorderLayoutBottom{
	overflow: hidden !important;																																											/*	 width: 50px; funtioniert nicht!!!! */
}
.sapzenmessageview-RowRepeaterRowActive > .sapUiBorderLayoutBegin,
.sapzenmessageview-RowRepeaterRowActive > .sapUiBorderLayoutCenter,
.sapzenmessageview-RowRepeaterRowActive > .sapUiBorderLayoutEnd {
	bottom: 73px !important; /* = height von .sapUiBorderLayoutBottom*/
	background: #d1e0f1;
}

.sapzenmessageview-RowRepeaterRow > .sapUiBorderLayoutBottom > .sapUiTv {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;     
  height: 48px;
  background: #e4ebee;
  padding: 15px 20px 10px 11px;
  width:248px;
  -webkit-box-shadow: inset 0px 3px 5px -4px #000;
	box-shadow: inset 0px 3px 5px -4px #000;
	overflow-x: hidden;
}

.sapzenmessageview-RowRepeaterRowActive > .sapUiBorderLayoutBottom > .sapUiTv {
  line-height: 13px;
}

.sapzenmessageview-RowRepeaterRow > .sapUiBorderLayoutCenter > span {
  width: 150px;
}

.sapzenmessageview-Button {
       /*background-color: blue;*/
}

/* Clear All Button*/

.sapzenmessageview-PopupContainerHeader .sapUiBtnS { 
	float: right;
	color: #ffffff;
}

.sapzenmessageview-PopupContainerHeader .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd {
	border-color: #7d2a32; 	
	background: #e87c85;	
	-webkit-box-shadow: none;
	box-shadow: none; 
	-moz-box-shadow: none; 
}

html[data-sap-ui-browser="ie9"] .sapzenmessageview-PopupContainerHeader .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd{ 
	
}

/* focus */
.sapzenmessageview-PopupContainerHeader .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:focus {
	border-color: #7d2a32; 
	
	background: #e87c85;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none; 
	box-shadow: none; 
}

/* hover */
.sapzenmessageview-PopupContainerHeader .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover{
	border-color: #7d2a32;	
	background: #e59ea4;	
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none; 
}

html[data-sap-ui-browser="ie8"] .sapzenmessageview-PopupContainerHeader .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover{
	padding: 0 10px;
}

html[data-sap-ui-browser="ie9"] .sapzenmessageview-PopupContainerHeader .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover{ 
}

/* pressed */
.sapzenmessageview-PopupContainerHeader .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover {
	background: #e72941;
	border-color: #7d2a32;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
}

html[data-sap-ui-browser="ie8"] .sapzenmessageview-PopupContainerHeader .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72941', endColorstr='#e87c85',GradientType=0 );
	padding: 0 10px;
}

html[data-sap-ui-browser="ie9"] .sapzenmessageview-PopupContainerHeader .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover{ 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72941', endColorstr='#e87c85',GradientType=0 );
}

/*END OF BUTTON CLEAR ALL*/


.sapzenmessageview-ExpandImage {
	background: url("img/treenode_expand.gif") no-repeat 4px center;
}

.sapzenmessageview-ExpandImageActive {
	background: url("img/treenode_collapse.gif") no-repeat 4px center;
}

.sapzenmessageview-RemoveImage {
	background: url("img/messageview_remove1.png") no-repeat center center;
}

.sapUiTvH1.sapzenmessageview-NoNotifications{
	color: #444444;
	filter:none;
	font-size: 12px !important;
	text-shadow:none;
	margin-top: 100px;
	width:100%;
	text-align: center !important;
}

.sapzenmessageview-ButtonLevelImageError > img {
  background: url("img/messageview_error.png") no-repeat center center;
  width: 21px;
  height: 100%;
}

.sapzenmessageview-ButtonLevelImageWarning > img {
  background: url("img/messageview_warning.png") no-repeat center center;
  width: 21px;
  height: 100%;
}

.sapzenmessageview-ButtonLevelImageInfo > img {
  background: url("img/messageview_info.png") no-repeat center center;
  width: 21px;
  height: 100%;
}

.sapzenmessageview-LevelImageWarning{
	background: url("img/messageview_warning.png") no-repeat center left;
	width: 21px;
	height: 100%; 
	padding-top: 8px;
}

.sapzenmessageview-LevelImageError{
	background: url("img/messageview_error.png") no-repeat center left;
	width: 21px;
	height: 100%;
	padding-top: 8px;
}

.sapzenmessageview-LevelImageInfo{
	background: url("img/messageview_info.png") no-repeat center left;
	width: 21px;
	height: 100%; 
	padding-top: 8px;
}

.sapzenmessageview-PopupContainer > .sapUiBorderLayoutCenter{
	bottom: 0px !important;
	top: 40px !important;
	left: 0px !important;
	right: 0px !important;
	background: #d4d4d4;
}

.sapzenmessageview-AutoHeight {
	height : auto !important;
}

