/* ================================================== */
/* CSS for control sap.ui.commons/Filterpanel.control */
/* Goldreflection                                     */
/* ================================================== */

.sapUiTableTreeIconLeaf {
			visibility: hidden !important;
}

.sapzenfilterpanel-PopupContainer, .sapzenfilterpanel-PopupContainerDialog {
       background: #eeeeee;
       border: 1px solid #919191;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-sizing: border-box;
       overflow-x: hidden;
}

.sapzenfilterpanel-PopupContainer .sapUiBorderLayout.sapzenfilterpanel-RowRepeater > .sapUiBorderLayoutCenter, 
.sapzenfilterpanel-PopupContainerDialog .sapUiBorderLayout.sapzenfilterpanel-RowRepeater > .sapUiBorderLayoutCenter{
	background-color: #eeeeee;
}

.sapzenfilterpanel-PopupContainer .sapUiBorderLayoutBottom, 
.sapzenfilterpanel-PopupContainerDialog .sapUiBorderLayoutBottom{
	height: 38px !important;
	overflow: hidden !important;
}

.sapzenfilterpanel-PopupContainer .sapUiBtnS, 
.sapzenfilterpanel-PopupContainerDialog .sapUiBtnS{
	height: 28px;
}

.sapzenfilterpanel-Container {
       background: #bcc5d9;
       border: 1px solid #92a1c1;
}

.sapzenfilterpanel-PopupContainer > .sapUiBorderLayoutTop, 
.sapzenfilterpanel-PopupContainerDialog > .sapUiBorderLayoutTop{
		height: 40px !important;
		overflow: hidden !important;
}

.sapzenfilterpanel-Container > .sapUiBorderLayoutTop{
		height: 0px !important;
		overflow: hidden !important;
}

.sapzenfilterpanel-SelectionContainer, 
.sapzenfilterpanel-SelectionContainer2{
	border: 1px solid #919191;
	-moz-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-sizing: border-box;
}

.sapzenfilterpanel-SelectionContainer > .sapUiBorderLayoutTop > .sapuiVlt, 
.sapzenfilterpanel-SelectionContainer2 > .sapUiBorderLayoutTop > .sapuiVlt{
		width: 100%;
}

.sapzenfilterpanel-SelectionContainer > .sapUiBorderLayoutTop > .sapuiVlt .sapUiHLayout, 
.sapzenfilterpanel-SelectionContainer2 > .sapUiBorderLayoutTop > .sapuiVlt .sapUiHLayout{
		width: 100%;
}

.sapzenfilterpanel-SelectionContainer > .sapUiBorderLayoutCenter{
		top: 37px !important;
		bottom: 33px !important;
		background-color: #ffffff;
}

.sapzenfilterpanel-SelectionContainer2 > .sapUiBorderLayoutCenter{
		top: 37px !important;
		bottom: 69px !important;
		background-color: #ffffff;
}

.sapzenfilterpanel-SelectionContainer .sapUiTableCtrlEmpty, 
.sapzenfilterpanel-SelectionContainer2 .sapUiTableCtrlEmpty{
	background: #ffffff;
}

.sapzenfilterpanel-SelectionContainer > .sapUiBorderLayoutBottom{
	height: 35px !important;
	background-color: #E5E5E5;
    border-top: 1px solid #919191;
}

.sapzenfilterpanel-SelectionContainer2 > .sapUiBorderLayoutBottom{
	height: 69px !important;
	background-color: #E5E5E5;
    border-top: 1px solid #919191;
}

.sapzenfilterpanel-PopupContainerHeader {
       height: 42px !important;
       background: #eeeeee; 
}

.sapzenfilterpanel-PopupContainerHeader .sapUiTvH1{
	color: #4F5C72;
	margin-top: 9px;
}

.sapzenfilterpanel-PopupContainerHeader > div > div {
       padding: 5px;
}

.sapzenfilterpanel-PopupContainerHeader > .sapUiBorderLayoutBegin {
		padding-top: 6px;
		padding-left: 6px;
}

.sapzenfilterpanel-PopupContainerHeader > .sapUiBorderLayoutEnd {
		padding-top: 6px;
		padding-right: 6px;
}

.sapzenfilterpanel-PopupContainerFooter > .sapuiVltCell, 
.sapzenfilterpanel-PopupContainerFooter2 > .sapuiVltCell:last-of-type {
		padding: 3px;
		padding-right: 6px;
		padding-left: 6px;
}

.sapzenfilterpanel-PopupContainerFooter2 > .sapuiVltCell:last-of-type {
		padding-top:0;
}

.sapzenfilterpanel-HeadLine {
       margin-top: 15px;
}

.sapzenfilterpanel-HeaderText {
       overflow: hidden;
	  text-overflow: ellipsis;
	  -o-text-overflow: ellipsis;
	  -webkit-text-overflow: ellipsis;     
}

.sapzenfilterpanel-RowRepeaterRow, 
.sapzenfilterpanel-RangeFrom, 
.sapzenfilterpanel-RangeTo {  
    border: 1px solid #919191;
    border-bottom: none;
    margin-bottom: 0px;
    
    height: 32px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sapzenfilterpanel-RangeFrom, 
.sapzenfilterpanel-RangeTo{
	border: none;
	border-top: 1px solid #919191;
}

.sapzenfilterpanel-PopupContainer .sapUiRrPage, 
.sapzenfilterpanel-PopupContainerDialog .sapUiRrPage{  
    border-bottom: 1px solid #919191;
}

.sapzenfilterpanel-RowRepeaterRow .sapUiBorderLayoutCenter, 
.sapzenfilterpanel-RangeFrom .sapUiBorderLayoutCenter, 
.sapzenfilterpanel-RangeTo .sapUiBorderLayoutCenter{	
	top: 0px !important;
	overflow: hidden !important;
}

.sapzenfilterpanel-RowRepeaterRow .sapUiTvH2, 
.sapzenfilterpanel-RangeFrom .sapUiTvH2, 
.sapzenfilterpanel-RangeTo .sapUiTvH2{
	line-height: 30px; /* = height von .sapzenfilterpanel-RowRepeaterRow*/
	font-weight: bold;
}

.sapzenfilterpanel-RowRepeaterRow > .sapUiBorderLayoutCenter, 
.sapzenfilterpanel-RangeFrom > .sapUiBorderLayoutCenter, 
.sapzenfilterpanel-RangeTo > .sapUiBorderLayoutCenter {
	padding-left: 8px;
	overflow: hidden !important;																																											/*	 width: 50px; funtioniert nicht!!!! */
}

.sapzenfilterpanel-RowRepeaterRow, 
.sapzenfilterpanel-RangeFrom, 
.sapzenfilterpanel-RangeTo{
	background-color: #ffffff;
}

.sapzenfilterpanel-RowRepeaterRow > .sapUiBorderLayoutEnd, 
.sapzenfilterpanel-RangeFrom > .sapUiBorderLayoutEnd, 
.sapzenfilterpanel-RangeTo > .sapUiBorderLayoutEnd {
	background: #e6eaf2;
	overflow: hidden !important;
}

.sapzenfilterpanel-RowRepeaterRowActive > .sapUiBorderLayoutBegin,
.sapzenfilterpanel-RowRepeaterRowActive > .sapUiBorderLayoutCenter,
.sapzenfilterpanel-RowRepeaterRowActive > .sapUiBorderLayoutEnd {
	bottom: 73px !important; /* = height von .sapUiBorderLayoutBottom*/
	background: #d1e0f1;
}

.sapzenfilterpanel-PopupContainerHeader > .sapUiBorderLayoutEnd > .sapUiBtnS,
.sapzenfilterpanel-SelectionContainer .sapUiBorderLayoutBottom  .sapUiBorderLayoutEnd > .sapUiBtnS,
.sapzenfilterpanel-SelectionContainer2 .sapUiBorderLayoutBottom  .sapUiBorderLayoutEnd > .sapUiBtnS { 
	float: right;
}

html[data-sap-ui-browser="ie8"] .sapUiBtn.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover{
	padding: 0 10px;
}

.sapUiTvH1.sapzenfilterpanel-NoNotifications{
	color: #444444;
	filter:none;
	text-shadow:none;
	margin-top: 0px;
	width:100%;
	text-align: center !important;
}

.sapzenfilterpanel-PopupContainer > .sapUiBorderLayoutCenter{
	bottom: 41px !important;
	top: 41px !important;
	left: 6px !important;
	right: 6px !important;
	background: #d4d4d4;
}

.sapzenfilterpanel-DialogContainer.sapzenfilterpanel-PopupContainer > .sapUiBorderLayoutCenter{
	top: 6px !important;
	bottom: 6px !important;
}

.sapzenfilterpanel-PopupContainerDialog > .sapUiBorderLayoutCenter{
	bottom: 6px !important;
	top: 41px !important;
	left: 6px !important;
	right: 6px !important;
	/*background: #d4d4d4;*/
}

.sapzenfilterpanel-Container > .sapUiBorderLayoutCenter{
	bottom: 0px !important;
	top: 0px !important;
	left: 0px !important;
	right: 0px !important;
	background: #d4d4d4;
}

.sapzenfilterpanel-RowRepeater > .sapUiBorderLayoutTop{
		height: 22px !important;
		overflow: hidden !important;
}

.sapzenfilterpanel-SingleRowRepeater > .sapUiBorderLayoutTop{
		height: 0px !important;
		overflow: hidden !important;
}

.sapzenfilterpanel-SingleRowRepeater > .sapUiBorderLayoutCenter{
		top: 0px !important;
}

.sapzenfilterpanel-PopupTitle{
	color: #262626;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    text-align: center !important;
    width: 100%;
    overflow: hidden;
	 display: block;
	 white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.sapUiTv.sapzenfilterpanel-HeaderText, 
.sapUiTv.sapzenfilterpanel-FromToText{
	line-height: 32px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sapUiTv.sapzenfilterpanel-HeaderTextWidthFiltertext{
    width: 50%;
}

.sapUiTv.sapzenfilterpanel-HeaderTextWidthFiltercount{
    width: 80%;
}

.sapUiTv.sapzenfilterpanel-SelectionMemberText{
	line-height: 32px;
	height: 32px;
    overflow: hidden;
    position: absolute;
    right: 21px;
    top: 0px;
    text-align: right !important;
    text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
    white-space: nowrap;
    color: #008ed3;
    padding-right: 2px;
}

.sapzenfilterpanel-RangeToActive .sapUiTv.sapzenfilterpanel-SelectionMemberText,
.sapzenfilterpanel-RangeFromActive .sapUiTv.sapzenfilterpanel-SelectionMemberText{
	color: #fff;
}

.sapUiTv.sapzenfilterpanel-SelectionMemberTextWidthFiltertext{
    width: 35%;
}

.sapUiTv.sapzenfilterpanel-SelectionMemberTextWidthFiltercount{
    width: 15%;
}

.sapzenfilterpanel-SelectionContainer > .sapUiBorderLayoutTop, 
.sapzenfilterpanel-SelectionContainer2 > .sapUiBorderLayoutTop {
    background-color: #eeeeee;
    height: 36px !important;
    overflow: hidden !important;
}

.sapUiSegmentedButton.sapzenfilterpanel-SelectionSegmentedButton {
    position: absolute;
    right: 7px;
    top: 4px;
}

.sapUiTv.sapzenfilterpanel-SelectionTitle {
    color: #343434;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    padding-left: 8px;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.sapzenfilterpanel-ExclusionText {
    color: #343434;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 8px;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.sapzenfilterpanel-ExclusionCheckBox{
	position: absolute;
	right: 9px;
	top: 7px;
}

.sapzenfilterpanel-ExclusionContainer{
	height: 28px;
}

.sapzenfilterpanel-MemberSegmentButton,
.sapzenfilterpanel-SearchSegmentButton,
.sapzenfilterpanel-SearchButton{
	width: 40px;
}

html[data-sap-ui-browser="ie8"] .sapzenfilterpanel-SearchFieldRow .sapzenfilterpanel-SearchButton{
	float:right;
}

.sapzenfilterpanel-SearchSegmentButton .sapUiBtnS.sapUiBtnIconOnly{
	padding: 0;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiSegButtonSelected,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapUiSegButtonSelected{
	border-color: #262626;
	background: #535353;
	-moz-box-shadow: none;	
	-webkit-box-shadow: none;	
	box-shadow: none;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-SearchSegmentButton .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-SearchSegmentButton .sapUiBtnIco,
.sapzenfilterpanel-SearchFieldRow .sapzenfilterpanel-SearchButton .sapUiBtnIco{
	background: transparent url(img/filterpanel_searchsegmentbutton.png) no-repeat center center;
	height: 16px;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-SearchSegmentButton.sapUiSegButtonSelected .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-SearchSegmentButton.sapUiSegButtonSelected .sapUiBtnIco
{
	background: transparent url(img/filterpanel_searchsegmentbutton_sel.png) no-repeat center center;
	height: 16px;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-MemberSegmentButton .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-MemberSegmentButton .sapUiBtnIco{
	background: transparent url(img/filterpanel_membersegmentbutton.png) no-repeat center center;
	height: 16px;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-MemberSegmentButton.sapUiSegButtonSelected .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-MemberSegmentButton.sapUiSegButtonSelected .sapUiBtnIco
{
	background: transparent url(img/filterpanel_membersegmentbutton_sel.png) no-repeat center center;
	height: 16px;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-IncludeButton .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-IncludeButton .sapUiBtnIco{
	background: transparent url(img/filterpanel_including.png) no-repeat center center;
	height: 16px;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-IncludeButton.sapUiSegButtonSelected .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-IncludeButton.sapUiSegButtonSelected .sapUiBtnIco
{
	background: transparent url(img/filterpanel_including_sel.png) no-repeat center center;
	height: 16px;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-ExcludeButton .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-ExcludeButton .sapUiBtnIco{
	background: transparent url(img/filterpanel_excluding.png) no-repeat center center;
	height: 16px;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapzenfilterpanel-ExcludeButton.sapUiSegButtonSelected .sapUiBtnIco,
.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-ExcludeButton.sapUiSegButtonSelected .sapUiBtnIco
{
	background: transparent url(img/filterpanel_excluding_sel.png) no-repeat center center;
	height: 16px;
}

html[data-sap-ui-browser="ie8"] .sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-ExcludeButton .sapUiBtnIco,
html[data-sap-ui-browser="ie8"] .sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnAct.sapzenfilterpanel-IncludeButton .sapUiBtnIco {
	margin-left: -4px; 
}

.sapzenfilterpanel-IncludeButton,
.sapzenfilterpanel-ExcludeButton{
	width:29px;
}

.sapzenfilterpanel-SearchFieldRow {
    height: 38px;
    width: 100%;
    background-color: #eeeeee;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sapzenfilterpanel-SearchFieldRow div:first-child {
    left: 8px;
    position: absolute;
    width: 75%;
}

.sapzenfilterpanel-SearchFieldRow div:first-child input {
    width: 100%;
    height: 29px;
}

.sapzenfilterpanel-SearchFieldRow div:last-child {
    position: absolute;
    right: 7px;
}

html[data-sap-ui-browser="ie8"] .sapzenfilterpanel-SearchFieldRow div{
    margin-left: 8px;
    margin-right: 8px;
    position: static;
}

.sapzenfilterpanel-SearchFieldRow div {
    margin-top: 4px;
}

.sapzenfilterpanel-PopupContainer .sapUiTable > div:last-child, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTable > div:last-child{
    -webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.sapzenfilterpanel-PopupContainer .sapUiTable > div, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTable > div{
    border-style: solid none none;
}

.sapzenfilterpanel-PopupContainer .sapUiTableRowHdr, 
.sapzenfilterpanel-PopupContainer .sapUiTableCtrl tr > td, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableRowHdr, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCtrl tr > td{
    border-bottom: 1px solid #ddd;
}

.sapzenfilterpanel-PopupContainer .sapUiTableColHdrCnt, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableColHdrCnt{
    border-bottom: 1px solid #919191;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCol, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCol{
    border-right: 1px solid #919191;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCol:nth-child(3), 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCol:nth-child(3){
    border-right: 0px solid #919191;
}

.sapzenfilterpanel-PopupContainer .sapUiTable > div:last-child, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTable > div:last-child{
    border-bottom: 1px solid #919191;
    border-top: 1px solid #919191;
}

.sapzenfilterpanel-PopupContainer .sapUiTableTreeIcon, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableTreeIcon{
    line-height: 13px;
    margin-right: 6px;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCtrl .sapUiCb.sapUiCbInteractive.sapUiCbStd, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCtrl .sapUiCb.sapUiCbInteractive.sapUiCbStd{
	width:100%;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCtrl .sapUiCb > label, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCtrl .sapUiCb > label{
	padding-left: 15px;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCell, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCell {
    text-align: center;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCell span, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCell span{
    margin-top: 1px;
}

.sapzenfilterpanel-SelectionContainer .sapUiBorderLayoutBottom  .sapUiBorderLayoutEnd, 
.sapzenfilterpanel-SelectionContainer2 .sapUiBorderLayoutBottom  .sapUiBorderLayoutEnd{
	padding-right: 7px;
	padding-top: 4px;
}

.sapzenfilterpanel-SelectionContainer .sapUiBorderLayoutBottom .sapUiBorderLayoutBegin, 
.sapzenfilterpanel-SelectionContainer2 .sapUiBorderLayoutBottom .sapUiBorderLayoutBegin{
	padding-top: 4px;
	padding-left: 8px;
	width: 74px !important;
}

.sapzenfilterpanel-SelectionContainer .sapUiBorderLayoutBottom .sapUiBorderLayoutCenter, 
.sapzenfilterpanel-SelectionContainer1 .sapUiBorderLayoutBottom .sapUiBorderLayoutCenter{
	left: 74px !important;
	right: 95px !important; 
}

.sapzenfilterpanel-SelectionContainer .sapzenfilterpanel-CheckAll, 
.sapzenfilterpanel-SelectionContainer2 .sapzenfilterpanel-CheckAll{
	height:16px;
	width:100%;
	background: transparent url("img/filterpanel_checkAll.png") no-repeat center 3px;
}

.sapUiTv.sapzenfilterpanel-RestrictionText{
	line-height: 37px;
	font-weight: bold;
	overflow: hidden;
	 display: block;
	 white-space: nowrap;
	  text-overflow: ellipsis;
	  -o-text-overflow: ellipsis;
	  -webkit-text-overflow: ellipsis;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCnt, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCnt{
    border-bottom: none !important;
}

.sapzenfilterpanel-PopupContainer .sapUiTableCCnt tr:last-child td, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCCnt tr:last-child td{
	border-bottom: 1px solid #919191;
}

.sapUiTv.sapzenfilterpanel-NoNotifications{
	margin-top: 20px;
	 overflow: hidden;
	 display: block;
	 white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-align: center !important;
}

.sapUiTv.sapzenfilterpanel-SelectionTableText{
	font-size: 12px;
	color: #262626;
}

.sapUiTv.sapzenfilterpanel-SelectionTableKey{
	color: #262626;
}

.sapzenfilterpanel-IncorrectValue.sapzenfilterpanel-RowRepeaterRow {
    background: @sapUiErrorBG;
}

.sapzenfilterpanel-DirtyState, .sapzenfilterpanel-DirtyState > input {
	font-style: italic !important;
}

.sapzenfilterpanel-DirtyState.sapzenfilterpanel-RowRepeaterRow:hover .sapUiTv.sapzenfilterpanel-SelectionMemberText,
.sapzenfilterpanel-RowRepeaterRow:hover .sapUiTv.sapzenfilterpanel-SelectionMemberText{
	color: #ffffff;
}

.sapzenfilterpanel-RowRepeaterRow:hover,
.sapzenfilterpanel-RangeFromActive,
.sapzenfilterpanel-RangeToActive,
.sapzenfilterpanel-RowActive {	
	background: #006ab4;
	color: #ffffff;																																										/*	 width: 50px; funtioniert nicht!!!! */
}


/* Dimension Filter */
.sapzenfilterpanel-Container > .sapUiBorderLayoutCenter,
.sapzenfilterpanel-Container{
	background: none;
	border:none;
}
.sapzenfilterpanel-Container .sapUiRrRow .sapzenfilterpanel-RowRepeaterRow div{
	border: 1px solid #919191;
	cursor: pointer;
}

.sapzenfilterpanel-Container .sapUiRrRow:first-child .sapzenfilterpanel-RowRepeaterRow{
	border: none;
}
/* END Dimension Filter */

.sapzenfilterpanel-RemoveImage{
	background: transparent url("img/filterpanel_remove.png") no-repeat center center;
    height: 16px;
}

.sapzenfilterpanel-SelectionContainer .sapUiBorderLayoutBottom .sapUiBorderLayoutEnd,
.sapzenfilterpanel-SelectionContainer2 .sapUiBorderLayoutBottom .sapUiBorderLayoutEnd,
.sapzenfilterpanel-PopupContainerHeader > .sapUiBorderLayoutBegin{
	width: 130px !important;
	overflow: hidden !important;
}

.sapzenfilterpanel-ExclusionState{
	background: transparent url("img/filterpanel_excluded.png") no-repeat right 4px;
	margin-right: 1px;
	padding-right: 9px;
}

.sapzenfilterpanel-InclusionState{
	background: transparent url("img/filterpanel_included.png") no-repeat right 4px;
	margin-right: 1px;
	padding-right: 9px;
}

.sapzenfilterpanel-RowRepeaterRow:hover .sapUiTv.sapzenfilterpanel-SelectionMemberText.sapzenfilterpanel-ExclusionState{
	background: transparent url("img/filterpanel_excluded_hover.png") no-repeat right 4px;
	margin-right: 11px;
	padding-right: 9px;
}

.sapzenfilterpanel-RowRepeaterRow:hover .sapUiTv.sapzenfilterpanel-SelectionMemberText.sapzenfilterpanel-InclusionState{
	background: transparent url("img/filterpanel_included_hover.png") no-repeat right 4px;
	margin-right: 1px;
	padding-right: 9px;
}

/*Update 2013-01-10*/
.sapzenfilterpanel-PopupContainerDialog .sapUiSearchFieldTf{
	margin: 2px;
}

.sapzenfilterpanel-PopupContainerDialog .sapUiSearchField {
    height: 26px;
    background-color: #eee;
    border-top: 1px solid #919191;
}

.sapUiHLayout.sapzenfilterpanel-LiveSearchField{
	display: block;
	padding: 2px;
	background-color: #eee;
    border-top: 1px solid #919191;
}

.sapzenfilterpanel-SearchField.sapzenfilterpanel-SearchFieldInactive {
	color: #AAAAAA;
}

.sapzenfilterpanel-LiveSearchField .sapzenfilterpanel-SearchField,
.sapzenfilterpanel-LiveSearchField .sapUiHLayoutChildWrapper{
	width: 100%;
}

.sapUiHLayout.sapzenfilterpanel-TextVariableFieldContainer {
	width: 100%;
}

.sapzenfilterpanel-TextVariableFieldContainer .sapUiHLayoutChildWrapper:first-child {
	padding-top: 3px;
}

.sapzenfilterpanel-TextVariableFieldContainer .sapUiHLayoutChildWrapper:last-child {
	padding-left: 5px;
	padding-right: 5px;
}

.sapzenfilterpanel-TextVariableField {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100% !important;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.sapzenfilterpanel-TextFieldWidthFiltercount.sapzenfilterpanel-TextVariableField {
		width: 85% !important;
}

.sapzenfilterpanel-TextFieldWidthFiltertext.sapzenfilterpanel-TextVariableField {
		width: 65% !important;
}

.sapUiTableCtrl tr > td{
	border-right: 1px solid #ddd;
}

.sapUiTableCtrl tr:nth-child(2n+1){
	background-color: #f9f9f9;
}

.sapzenfilterpanel-PopupContainerFooter2{
	padding-top: 3px;
}

/****************************************************/
/* extract the search-button in the non-auto-search */
/****************************************************/

/* clear the done styling */
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd{
	background: none;
	border: none;
	box-shadow: none;
	padding-right: 57px;
}

/* styling of the seachfield */
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiTf.sapUiTfInner{
	background: #fff;
    color: #000;
    border: 1px solid #bfbfbf;
}

/* styling of the seachfield - Focus */
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfFoc .sapUiTf.sapUiTfInner{
	border-color: #007cc0;
}

/* styling of the seachfield - Hover */
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiTf.sapUiTfInner:hover {
    border-color: #007CC0;
}

/* styling of the seachfield-button */
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiSearchFieldIco{
	height: 21px;
	width: 47px;
	background: #E2E2E2 url("img/filterpanel_searchsegmentbutton.png") no-repeat center center;
    border: 1px solid #a2a2a2;
	-webkit-box-shadow: 0 1px 0 #FEFEFE inset;
	-moz-box-shadow: 0 1px 0 #FEFEFE inset;
	box-shadow: 0 1px 0 #FEFEFE inset;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
 	margin-top: -1px;
}
html[data-sap-ui-browser="ie9"] .sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiSearchFieldIco{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
html[data-sap-ui-browser="ie8"] .sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiSearchFieldIco{
	
}
/* hover */
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiSearchFieldIco:hover,
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd:hover .sapUiSearchFieldIco{
	background: #007CC0 url("img/filterpanel_searchsegmentbutton_sel.png") no-repeat center center;
    -webkit-box-shadow: 0 1px 0 #83B9D6 inset;
	-moz-box-shadow: 0 1px 0 #83B9D6 inset;
	box-shadow: 0 1px 0 #83B9D6 inset;
	border-color: #004B74;
	color: #ffffff;
}
html[data-sap-ui-browser="ie9"] .sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd:hover .sapUiSearchFieldIco{
	
}
html[data-sap-ui-browser="ie8"] .sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd:hover .sapUiSearchFieldIco{
	
}

/* active */
.sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiSearchFieldIco:active{
	background: #666666 url("img/filterpanel_searchsegmentbutton_sel.png") no-repeat center center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #333333;
}
html[data-sap-ui-browser="ie9"] .sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiSearchFieldIco:active{
	
}
html[data-sap-ui-browser="ie8"] .sapUiSearchFieldTf.sapUiTfBack.sapUiTfBrd.sapUiTfStd .sapUiSearchFieldIco:active{

}

.sapzenfilterpanel-PopupContainerDialog .sapUiTableTreeIcon,
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCol .sapUiTableColCell label,
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCol div{
	cursor: pointer;
}

.sapzenfilterpanel-PopupContainerDialog .sapUiTableColHdrCnt {
    min-height: auto;
}

.sapzenfilterpanel-PopupContainerDialog .sapUiTableColRowHdr, 
.sapzenfilterpanel-PopupContainerDialog .sapUiTableCol {
    padding-top: 3px;
}

.sapzenfilterpanel-PopupContainerDialog .sapUiTableColIcons{
	padding-top: 4px;
}

.sapUiTableGroupIconClosed, .sapUiTableTreeIconNodeClosed{
	background-image: url("img/treenode_expand.png") !important;
	width: 13px !important;
}

.sapUiTableGroupIconOpen, .sapUiTableTreeIconNodeOpen{
	background-image: url("img/treenode_collapse.png") !important;
	width: 13px !important;
}

.sapzenfilterpanel-PopupContainerDialog .sapUiTabPanel{
	padding: 0;
	border-width: 0;
}

.sapzenfilterpanel-RightArrowImage {
	height:16px;
	width:16px;
	background: transparent url("img/right_16.png") no-repeat center center;
	cursor: pointer;
	position:absolute !important;
	top: 8px;
	right:2px;
}

.sapzenfilterpanel-DesktopSubmit {
		position: absolute;
    right: 6px;
    top: 3px;
}

.sapzenfilterpanel-DesktopSubmit > .sapUiHLayoutChildWrapper:first-child {
		margin-right: 5px;
}

.sapzenfilterpanel-DesktopSubmit2 {
		position: absolute;
    right: 6px;
    top: 37px;
}

.sapzenfilterpanel-DesktopSubmit2 > .sapUiHLayoutChildWrapper:first-child {
		margin-right: 5px;
}

.sapzenfilterpanel-DesktopSelectMember {
	margin-top: 4px;
}